machine:
  network:
    hostname: {{ node_name }}
    interfaces:
      - interface: ens18
        dhcp: false
        addresses:
          - {{ node_ip }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ gateway }}
        vip:
          ip: {{ cluster_vip }}
    nameservers:
{% for ns in nameservers %}
      - {{ ns }}
{% endfor %}
  certSANs:
    - {{ cluster_vip }}
{% for node in control_plane_ip_map %}
    - {{ node.expected_ip }}
{% endfor %}

cluster:
  allowSchedulingOnControlPlanes: false
  network:
    cni:
      name: none
  proxy:
    disabled: true