machine:
  network:
    hostname: {{ node_name }}
    interfaces:
      - interface: ens18
        dhcp: false
        addresses:
          - {{ node_ip }}/24
        routes:
          - network: 0.0.0.0/0
            gateway: {{ gateway }}
    nameservers:
{% for ns in nameservers %}
      - {{ ns }}
{% endfor %}